
package-lock.json
PROYECTO/.next/trace
PROYECTO/.next/static/webpack/webpack.af9ac425d944fc93.hot-update.js
PROYECTO/.next/static/webpack/af9ac425d944fc93.webpack.hot-update.json
PROYECTO/.next/static/webpack/633457081244afec._.hot-update.json
PROYECTO/.next/static/development/_buildManifest.js
PROYECTO/.next/static/chunks/react-refresh.js
PROYECTO/.next/static/chunks/webpack.js
PROYECTO/.next/static/chunks/polyfills.js
PROYECTO/.next/static/chunks/pages/prinAlum.js
PROYECTO/.next/static/chunks/pages/index.js
PROYECTO/.next/static/chunks/pages/_error.js
PROYECTO/.next/static/chunks/pages/_app.js
PROYECTO/.next/static/chunks/main.js
PROYECTO/.next/server/webpack-runtime.js
PROYECTO/.next/server/vendor-chunks/@swc.js
PROYECTO/.next/server/vendor-chunks/next.js
PROYECTO/.next/server/pages/prinAlum.js
PROYECTO/.next/server/pages/index.js
PROYECTO/.next/server/pages/_error.js
PROYECTO/.next/server/pages/_document.js
PROYECTO/.next/server/pages/_app.js
PROYECTO/.next/server/pages-manifest.json
PROYECTO/.next/server/middleware-manifest.json
PROYECTO/.next/server/middleware-build-manifest.js
PROYECTO/.next/cache/webpack/client-development/index.pack.gz.old
PROYECTO/.next/cache/webpack/client-development/index.pack.gz
PROYECTO/.next/cache/webpack/client-development/0.pack.gz
PROYECTO/.next/build-manifest.json
package-lock.json
PROYECTO/.next/trace
PROYECTO/.next/static/webpack/webpack.af9ac425d944fc93.hot-update.js
PROYECTO/.next/static/webpack/af9ac425d944fc93.webpack.hot-update.json
PROYECTO/.next/static/development/_buildManifest.js
PROYECTO/.next/static/chunks/polyfills.js
PROYECTO/.next/static/chunks/pages/prinAlum.js
PROYECTO/.next/server/pages/prinAlum.js
PROYECTO/.next/server/pages-manifest.json
PROYECTO/.next/server/middleware-manifest.json
PROYECTO/.next/server/middleware-build-manifest.js
PROYECTO/.next/cache/webpack/client-development/index.pack.gz.old
PROYECTO/.next/cache/webpack/client-development/index.pack.gz
PROYECTO/.next/cache/webpack/client-development/0.pack.gz
PROYECTO/.next/build-manifest.json
PROYECTO/.next/cache/webpack/client-development/1.pack.gz
PROYECTO/.next/cache/webpack/server-development/0.pack.gz
PROYECTO/.next/cache/webpack/server-development/index.pack.gz
PROYECTO/.next/cache/webpack/server-development/index.pack.gz.old
PROYECTO/.next/server/pages/_app.js
PROYECTO/.next/server/pages/_document.js
PROYECTO/.next/server/pages/_error.js
PROYECTO/.next/server/pages/index.js
PROYECTO/.next/server/vendor-chunks/@swc.js
PROYECTO/.next/server/vendor-chunks/next.js
PROYECTO/.next/static/chunks/main.js
PROYECTO/.next/server/webpack-runtime.js
PROYECTO/.next/static/chunks/pages/_app.js
PROYECTO/.next/static/chunks/pages/_error.js
PROYECTO/.next/static/chunks/pages/index.js
PROYECTO/.next/static/chunks/react-refresh.js
PROYECTO/.next/static/chunks/webpack.js
package-lock.json
PROYECTO/.next/trace
PROYECTO/.next/static/webpack/webpack.af9ac425d944fc93.hot-update.js
PROYECTO/.next/static/webpack/af9ac425d944fc93.webpack.hot-update.json
PROYECTO/.next/static/development/_buildManifest.js
PROYECTO/.next/static/chunks/polyfills.js
PROYECTO/.next/static/chunks/pages/prinAlum.js
PROYECTO/.next/server/pages/prinAlum.js
PROYECTO/.next/server/pages-manifest.json
PROYECTO/.next/server/middleware-manifest.json
PROYECTO/.next/server/middleware-build-manifest.js
PROYECTO/.next/cache/webpack/client-development/index.pack.gz.old
PROYECTO/.next/cache/webpack/client-development/index.pack.gz
PROYECTO/.next/cache/webpack/client-development/0.pack.gz
PROYECTO/.next/build-manifest.json
PROYECTO/.next/cache/webpack/client-development/1.pack.gz
PROYECTO/.next/cache/webpack/server-development/0.pack.gz
PROYECTO/.next/cache/webpack/server-development/index.pack.gz
PROYECTO/.next/cache/webpack/server-development/index.pack.gz.old
PROYECTO/.next/server/pages/_app.js
PROYECTO/.next/server/pages/_document.js
PROYECTO/.next/server/pages/_error.js
PROYECTO/.next/server/pages/index.js
PROYECTO/.next/server/vendor-chunks/@swc.js
PROYECTO/.next/server/vendor-chunks/next.js
PROYECTO/.next/static/chunks/main.js
PROYECTO/.next/server/webpack-runtime.js
PROYECTO/.next/static/chunks/pages/_app.js
PROYECTO/.next/static/chunks/pages/_error.js
PROYECTO/.next/static/chunks/pages/index.js
PROYECTO/.next/static/chunks/react-refresh.js
PROYECTO/.next/static/chunks/webpack.js
*.webp
*.gz
